<html>
<body>
<h1>Здесь располагаются тесты</h1>


<table mat-table [dataSource]="imitations" class="mat-elevation-z8" (mouseleave) = "MouseIndex=-1">

  <!-- Checkbox Column -->
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                    [aria-label]="checkboxLabel()">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)== true"
                    [aria-label]="checkboxLabel(row)">
      </mat-checkbox>
    </td>
  </ng-container>

  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef class="no"> No. </th>
    <td mat-cell *matCellDef="let imitation"> {{imitation.id}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let imitation"> {{imitation.name}} </td>
  </ng-container>

  <ng-container matColumnDef="createdAt">
    <th mat-header-cell *matHeaderCellDef> createdAt </th>
    <td mat-cell *matCellDef="let imitation"> {{imitation.createdAt}} </td>
  </ng-container>

  <ng-container matColumnDef="updatedAt">
    <th mat-header-cell *matHeaderCellDef> updatedAt </th>
    <td mat-cell *matCellDef="let imitation"> {{imitation.updatedAt}} </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row;let index = index; columns: displayedColumns;"
      (click)="selectRow(row)"  (mouseover)="onMouseOver(index)">
  </tr>
  <ng-container matColumnDef="events">
    <th mat-header-cell *matHeaderCellDef ></th>
    <td mat-cell *matCellDef="let imitation; let index = index;">
      <button id="td_events" *ngIf="MouseIndex === index" style="float: right" (click)="deleteRow($event, imitation)">delete</button>
    </td>
  </ng-container>
</table>

<p></p>
<nav>
  <p><button class="btn btn-outline-dark" (click)="clickButton()">Добавить имитацию</button></p>
  <p><button class="btn btn-outline-dark" (click)="clicButton()">Назад</button></p>
</nav>
</body>
</html>


