h1, h2{color:navy;}
p{font-size:13px;}
:host {
  font-family: Verdana, serif;
  color: #555;
}
table {
  width: 100%;
}

.link_tag {
  cursor: default;
}

.mat-row:hover {
  cursor: default;
  background-color: gray;
}
