h1, h2{color:navy;}
p{font-size:13px;}
:host {
  font-family: Verdana;
  color: #555;
}
table {
  width: 100%;
}
tr.example-element-row:not(.row):active {
  background: #efefef;
}
th.no:active{  background-color: green !important;}
