<div ng-controller="Controller">
  <form novalidate class="form">
    <label>Введите имя: <input type="text" ngModel="patients.name"/></label><br />
    <label>Введите фамилию: <input type="email" ngModel="patients.secondname"/></label><br />
    <label>Введите возраст: <input type="email" ngModel="patients.age"/></label><br />
    <label>Введите номер для связи: <input type="email" ngModel="patients.number"/></label><br />
    <input type="button" (click)="reset()" value="Отмена" />
    <input type="submit" ng-click="update(patients)" value="Добавить" />
  </form>
</div>

<script>
</script>
