<div >
  <form >
    <label>Введите название имитации: <input type="text" ngModel="imitation.name"/></label><br />
    <label>Введите введите вопрос: <input type="text" ngModel="question.question"/></label><br />
    <label> Введите варианты ответов <input type="text" ngModel="answer.answer"></label><br />
    <input type="button" (click)="reset()" value="Отмена" />
    <input type="submit" ng-click="update(imitation)" value="Готово" />
    <input type="button" ng-click="update(imitation)" value="Добавить вопрос" />
  </form>
</div>

<script>

</script>
