<html>

<body>
<div style="text-align: center">
  <h1>Личный кабинет</h1>
</div>
  <p>Имя</p>
  <p>Фамилия</p>
  <p>Отчество</p>
<nav>
  <p><button class="btn btn-outline-primary" matTooltip="Нажми меня" (click)="clickButton()">Прогресс</button></p>
  <p><button class="btn btn-outline-primary" matTooltip="Нажми меня" (click)="clikButton()">Тестирование</button></p>
  <button class="btn btn-outline-primary" matTooltip="Нажми меня" (click)="clickbutton()">Помощь</button>
</nav>
<router-outlet></router-outlet>
</body>
</html>

