<html>
<body>
<h1>Здесь располагаются тесты</h1>
<p>Первый абзац.</p>
<p>Второй абзац.</p>
<div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="model">
  <label ngbButtonLabel class="btn-primary">
    <input ngbButton type="radio" [value]="true"> 1st variant
  </label>
  <label ngbButtonLabel class="btn-primary">
    <input ngbButton type="radio" [value]="false"> 2nd
  </label>
  <label ngbButtonLabel class="btn-primary">
    <input ngbButton type="radio" [value]="false"> 3rd
  </label>
</div>
<p></p>
<nav>
  <p><button class="btn btn-outline-dark" (click)="clickButton()">Добавить имитацию</button></p>
  <p><button class="btn btn-outline-dark" (click)="clicButton()">Назад</button></p>
</nav>
</body>
</html>


